<div class="panel panel-default" ng-controller="ChatCtrl">
    <div class="panel-heading">Chat</div>
    <div class="panel-body">
        test
    </div>
    <div class="panel-footer">
        <form class="form-inline" ng-required="true" ng-submit="sendMessage()">
            <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
            <input type="text" placeholder="Enter to send a msg" ng-model="chatMsg" />
            <span class="glyphicon glyphicon-cog" aria-hidden="false"></span>
        </form>
    </div>
</div>