<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.13/angular-ui-router.js"></script>
    <script src="/lib/angular-ui-bootstrap.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/lib/angular-socket-io/socket.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chance/0.5.6/chance.js"></script>
    <script src="/javascripts/config.js"></script>
    <script src="/javascripts/services/socket-client.js"></script>
    <script src="/javascripts/services/users.js"></script>
    <script src="/javascripts/services/online.js"></script>
    <script src="/javascripts/services/queue.js"></script>
    <script src="/javascripts/services/game.js"></script>
    <script src="/javascripts/controllers/MainCtrl.js"></script>
    <script src="/javascripts/controllers/ChatCtrl.js"></script>
    <script src="/javascripts/controllers/OnlineCtrl.js"></script>
    <script src="/javascripts/controllers/QueueCtrl.js"></script>
    <script src="/javascripts/controllers/GameCtrl.js"></script>
</head>
<body ng-app="mathRacer">
    <div ng-include="'/views/navbar.html'"></div>

    <ui-view></ui-view>
</body>
</html>
