body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#messageList, #userList{
    list-style-type:none;
    padding-left:0pt;
}

.messageLink{
    margin-bottom: 5px;
}

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }